@model DataAccess.DBModel.Student

<h1>Update Page</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Course" class="control-label"></label>
        <input asp-for="Course" class="form-control" />
        <span asp-validation-for="Course" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Age" class="control-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProfileImageFile">Upload Profile Picture</label>
        <input asp-for="ProfileImageFile" type="file" class="form-control" accept="image/*" />
    </div>

    <div class="form-group">
        <label asp-for="IsActive" class="control-label"></label>
        <input asp-for="IsActive" type="checkbox" class="form-check-input" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Update</button>
    </div>

</form>



