

<h2>Confirm Deletion</h2>
<p>Are you sure want to delete</p>

<form asp-action="PermanentDelete" method="post">
    <button type="submit" class="btn btn-danger">Yes,Delete</button>
    <a asp-action="GetAll" class="btn btn-secondary">Cancel</a>
</form>


